.icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  fill: #000000;
  background-color: #fff;
  cursor: pointer;
  // visibility: hidden;
}

.icon:hover {
  fill: var(--accent-color);
}
